# Docker config
CONTAINER_PORT=

# App config
APP_NAME=
APP_VERSION=
APP_HOST=
APP_PORT=

# Database config
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USER=

# JWT config
JWT_ALGORITHM=
JWT_SECRET_KEY=
ACCESS_TOKEN_EXP=

# PGAdmin config
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
ACCESS_TOKEN_EXP=

BASIC_USERNAME=
BASIC_PASSWORD=

POSTGRES_CONTAINER=
PGADMIN_CONTAINER=
APP_CONTAINER=
NETWORK_NAME=